<div class="row">
  <div class="col-xs-12">
    <h2>
      Editing Article
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
    </h2>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Show', @article, class: 'btn btn-primary' %>
    <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
  </div>
</div>
