<div class="row">
  <div class="col-xs-12">
    <h2>New Article</h2>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
  </div>
</div>
